<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReyDock</title>
</head>
<body>
  <h1>ReyDock</h1>
  <div> 
     <img src="https://2609cff6-cf28-46a4-8e03-35a026612e40-00-35d67g5olvhuq.sisko.replit.dev/static/banner.jpg" width="120" height="90" alt="Protien Image", >
  </div>
  <div>
    <h2>"About ReyDoc" </h2>
    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Semper tortor aenean quis volutpat ultricies. Maecenas facilisi vestibulum consectetur tortor faucibus; auctor non orci. Sagittis netus porta sociosqu tellus ridiculus habitasse tristique sociosqu ornare. Venenatis bibendum erat natoque viverra mus porta fusce. Mi neque finibus tristique diam in aenean magnis tortor. Phasellus class lacinia nec libero at accumsan. Molestie semper hac tempus lectus eleifend feugiat lacus.  
    </p>
    <h2>"Load you Protien Crystal" </h2>
    <div>
      <form action="/action_page.php">
        <label for="PId">PDB Id:</label>
        <input type="text" id="PId" name="PId"><br><br>

        <form action="someplace.php" method="post" enctype="multipart/form-data">
          <fieldset>
            <legend>Upload file</legend>
            <label for="uploadfile">File name: </label>
            <input type="file" name="uploadfile" id="uploadfile">
          </fieldset>
        </form>


        
        <label for="PFile">PDB fil :</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
      </form>
  </div>
  

</body>
</html>