
  <h2>Load your Protien Crystal</h2>
    <form id="form" action="">
      <label for="PId">PDB Id:</label>
      <input type="text" id="PId" name="PId", placeholder="6VGL"><br><br>

      <form action="someplace.php" method="post" enctype="multipart/form-data">
        <fieldset>
          <legend>Upload file</legend>
          <label for="uploadfile">Upload .pdb file here from local system: </label>
          <input type="file" name="uploadfile" id="uploadfile">
        </fieldset>

        <p><input type="submit"></p>

  </form>
